bottleneck
brotli
certifi
charset-normalizer
filelock
fsspec==2024.10.0
gmpy2
idna==3.10
jinja2
llvmlite==0.43.0
markupsafe
more-itertools==10.5.0
mpmath
networkx
numba==0.60.0
numexpr
numpy
openai-whisper==20240930
pandas
pillow
pydub==0.25.1
pysocks
python-dateutil
pytz
pyyaml
regex==2024.9.11
requests
six
sympy==1.13.1
tiktoken==0.8.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.66.6
typing_extensions
tzdata
urllib3
pydub
